.curtain-reveal {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--mo-color-black);
  animation: reveal 2s ease-in-out forwards;
  z-index: 9999999;
}

@keyframes reveal {
  0% {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
  }
}
