.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  max-width: 1280px;
  width: 100%;
  height: 100%;
  background-color: var(--mo-color-grey-light);
  z-index: 99;

  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.menu.open {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.menu-nav {
  width: 100%;
  height: 100%;
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--mo-gap-md);
  width: 100%;
  height: 100%;
}

.menu-item {
  overflow: hidden;
}

.menu-link {
  text-decoration: none;
  color: var(--mo-color-black);
  font-family: var(--mu-font-family-primary);
  font-size: var(--mo-font-size-3xl);
  transition: opacity 1s ease-in-out;
}

.menu-link:hover {
  opacity: 0;
}
